[submodule "site"]
	path = site
	url = https://github.com/apache/openserverless-site
	branch = main
[submodule "cli"]
	path = cli
	url = https://github.com/miki3421/openserverless-cli
	branch = poc/keycloak-sso-cli
[submodule "operator"]
	path = olaris-op
	url = https://github.com/apache/openserverless-operator
	branch = main
[submodule "testing"]
	path = testing
	url = https://github.com/apache/openserverless-testing
	branch = main
[submodule "task"]
	path = olaris
	url = https://github.com/miki3421/openserverless-task
	branch = poc/sso-keycloak-local
[submodule "runtimes"]
	path = runtimes
	url = https://github.com/apache/openserverless-runtimes
	branch = main
[submodule "vscode"]
	path = vscode
	url = https://github.com/apache/openserverless-vscode-extension
        branch = main
[submodule "openserverless-devcontainer"]
	path = devcontainer
	url = https://github.com/apache/openserverless-devcontainer
        branch = main
[submodule "streamer"]
	path = streamer
	url = https://github.com/apache/openserverless-streamer
        branch = main
[submodule "admin-api"]
	path = admin-api
	url = https://github.com/miki3421/openserverless-admin-api
	branch = poc/keycloak-oidc-bridge
[submodule "build"]
	path = build
	url = https://github.com/apache/openserverless-build
	branch = build-local
